<h1>Task_id = <%= @task.id %> 詳細ページ</h1>

<p>Status: <%= @task.status %></p>
<p>Task :<%= @task.content %></p>

<%= link_to '一覧に戻る', tasks_path %>
<%= link_to 'このTaskを編集する', edit_task_path(@task) %>
<%= link_to 'このTaskを削除する', @task, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>