<div class="row">
  <div class="col-xs-6">
    <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    
    
    <%= form_for(@txtmemo) do |f| %>
    
     
    
      <% if txtmemo.errors.any? %>
        <div class="alert alert-warning">
          <ul>
            <% txtmemo.errors.full_messages.each do |txtmemo| %>
              <li><%= txtmemo %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :status, 'Status' %>
        <%= f.text_field :status, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :content, 'Tasks' %>
        <%= f.text_field :content, class: 'form-control' %>
      </div>

      <%= f.submit '投稿', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>