<h1>Task List</h1>


  <table class="table table-striped">
    <thead>
      <tr>
        <th>id</th>
        <th>Status</th>
        <th>Task</th>
      </tr>
    </thead>
    <tbody>
      
<% @txtmemos.each do |txtmemo| %>

        <tr>
          <td>
<%= link_to txtmemo.id, "/txtmemo/#{txtmemo.id}"%>
</td>
          <td>
<%= txtmemo.status %>
</td>
          <td>
<%= txtmemo.content %>
</td>
        </tr>
      
<% end %>

    </tbody>
  </table>
<%= paginate @txtmemos %>
<br>

<%= link_to 'new task', new_task_path, class: "btn btn-primary" %>