<h1>Task_id = <%= @txtmemo.id %> 詳細ページ</h1>

<table class="table table-bordered">
  <tr>
    <th>id</th>
    <td><%= @txtmemo.id %></td>
  </tr>
  <tr>
    <th>Status</th>
    <td><%= @txtmemo.status %></td>
  </tr>
  <tr>
    <th>Task</th>
    <td><%= @txtmemo.content %></td>
  </tr>
</table>

<%= link_to 'このTaskを編集する', edit_txtmemo_path(@txtmemo), class: 'btn btn-default' %>
<%= link_to 'このTaskを削除する', @txtmemo, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-danger' %>
